// global.scss
@import "./theme.scss";
@import "./base.scss";


:root {
	--background-color: #{$white};
	--text-color: #{$black};
	--text-color-hover: #{$gray};
	--text-color-lighter: #{$gray-darker};
	--text-color-lightest: #{$gray};
	--hr-color: #{$transparent-gray};
	--accent-color: #{get-color(red)};
	--accent-color-hover: #{get-color(red, lighter)};
	--secondary-color: #{get-color(blue)};
	--secondary-color-hover: #{get-color(blue, lighter)};
	--tertiary-color: #{get-color(green)};
	--tertiary-color-hover: #{get-color(green, lighter)};
	--quaternary-color: #{get-color(egg)};
	--quaternary-color-hover: #{get-color(egg, lighter)};
	--quinary-color: #{get-color(navy)};
	--quinary-color-hover: #{get-color(navy, lighter)};
  }
  
  @supports (color: color(display-p3 1 1 1)) {
	:root {
	  --accent-color: color(display-p3 1 0 0);
	  --accent-color-hover: color(display-p3 1 .1 .1);
	}
  }
  
  header, main, footer {
	@include r(
		(padding-left, padding-right), '.5rem', $paddings
	)
  }  

/* ======================================
========================================= TYPOGRAPHY
====================================== */

body { 
	font-family: garamond-premier-pro, sans-serif;
	--font-family: garamond-premier-pro, sans-serif;
	font-weight: 500;
	background: var(--background-color);
	color: var(--text-color);
	-webkit-font-smoothing: antialiased;
}

main {
	background-color: var(--background-color);
	padding-top: 4rem;
	transition: background-color 0.25s ease-out;
}


h1, h2, h3 {
	@include display;
	line-height: 1;
	margin-top: 0;
	a {
		text-decoration: none;
		color: inherit;
	}
}

h1 {
	font-size: 3.5rem;
	margin-bottom: .75rem;
	margin-left: -2px;
	line-height: .95;
	font-style: italic;
	letter-spacing: -1px;

	@include wider-than(sm) {
		font-size: 4.5rem;
	}
	@include wider-than(md) {
		font-size: 6rem;
	}
	@include wider-than(lg) {
		font-size: 8.625rem;
		max-width: 72rem;
	}
}

h2 {
	font-size: 2.25rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.subtitle p {
	@include caption;
	// color: var(--accent-color);
	font-style: italic;
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 1.4;
	margin-top: -.5rem;
	@include wider-than(md) {
		font-size: 1.25rem;
	}
	@include wider-than(lg) {
		font-size: 2rem;
	}
}

p, ul, ol, aside {
	font-size: 1.25rem;
	line-height: 1.6667;
	@include wider-than(md) {
		font-size: 1.375rem;
	}
	@include wider-than(lg) {
		font-size: 1.5rem;
	}
}

a {
	transition: color 0.15s ease-out;
	color: inherit;
	text-decoration-line: underline;
	text-decoration-style: dotted;
	text-decoration-color: var(--text-color-lightest);
	-moz-text-decoration-line: underline;
	-moz-text-decoration-style: dotted;
	-moz-text-decoration-color: var(--text-color-lightest);
	-webkit-text-decoration-line: underline;
	-webkit-text-decoration-style: dotted;
	-webkit-text-decoration-color: var(--text-color-lightest);
	&:hover {
		color: var(--text-color-hover);
	}
}


article {
    @include runway;
    margin-top: 7rem;
	img {
		display: block;
	}

    &.post {
      text-align: right;
      * {
        text-align: left;
      }

      .content,
      .page-content {
        display: inline-block;
        @include wider-than(lg) {
          margin-right: 6rem;
        }
        @include wider-than(xl) {
          margin-right: 12rem;
        }
      }

      p, h3, h4, h5, h6, aside, ul, ol, blockquote {
        max-width: 36rem;
        @include wider-than(md) {
          max-width: 42rem;
        }
        @include wider-than(lg) {
          max-width: 48rem;
        }
      }

      ul, ol {
        padding-left: 1rem;
      }

      ul li {
        list-style: none;
        &::before {
          content: '\25C6';
          font-size: .8em;
          margin-right: .5rem;
        }
      }
	  .content {
		  p:last-child::after {
			  content: '\25A0';
			}
			&::after {
				content: '';
				display: block;
				width: 16rem;
				height: 1px;
				background: var(--hr-color);
				margin: 1rem 0 .5rem;
				padding: 0;
				@include wider-than(lg) {
					margin: 1.25rem 0 .5rem;
					width: 20rem;
				}
			}
		}
		
		.content p:first-child,
		p.lede {
			@include subhead;
			font-weight: 500;
			font-size: 1.5rem;
			line-height: 1.4;
			width: 100%;
			@include wider-than(md) {
				font-size: 1.75rem;
			}
			@include wider-than(lg) {
				font-size: 2rem;
			}
		}
	}
		
    &.gallery {
		img {
			width: 100%;
			margin-bottom: 2rem;
		}
		h1 {
			@include wider-than(sm) {
				font-size: 2.5rem;
				margin-bottom: .5rem;
			}
		}
		.description p {
			font-size: 1.25rem;
			line-height: 1.5;
			margin-top: 0;
		}
		@include wider-than(sm) {
		  .front-matter {
			  position: fixed;
			  width: 35%;
		  }
		  .content {
			  float: right;
			  width: 60%;
		}
		@include wider-than(md) {
			.front-matter {
				width: 25%;
			}
			.content {
				width: 70%;
			}
		}
		@include wider-than(lg) {
			.front-matter {
				width: 25%;
			}
		}
		@include wider-than(xl) {
			.front-matter {
				width: 16%;
			}
		}
	  }
    }
  }

// #tags {
// 	color: var(--text-color-lighter);
// 	a {
// 		&::after {
// 		content: ', ';
// 		}
// 		&:last-of-type {
// 		&::before {
// 			content: 'and ';
// 		}
// 		&::after {
// 			content: '.';
// 		}
// 		}
// 	}
// }

/* ======================================
========================================= FOOTER
====================================== */

footer {
padding-bottom: 1rem;
padding-top: 12rem;
font-size: .825rem;
div {
	@include runway;
	@include grotesk;
}
}
