// global.scss
@import "./theme.scss";
@import "./base.scss";

  /* ======================================
  ========================================= TYPOGRAPHY
  ====================================== */
  
  body { 
	font-family: garamond-premier-pro, sans-serif;
	--font-family: garamond-premier-pro, sans-serif;
	font-weight: 500;
	background: var(--background-color);
	color: var(--text-color);
	-webkit-font-smoothing: antialiased;
  }
  
  main {
	  background-color: var(--background-color);
	  padding-top: 4rem;
	  transition: background-color 0.25s ease-out;
  }

  p, ul, ol, aside {
	font-size: 1.25rem;
	line-height: 1.6667;
	@include wider-than(md) {
		font-size: 1.375rem;
	}
	@include wider-than(lg) {
		font-size: 1.5rem;
	}
  }
  
  a {
	transition: color 0.15s ease-out;
	color: inherit;
	text-decoration-line: underline;
	text-decoration-style: dotted;
	text-decoration-color: var(--text-color-lightest);
	-moz-text-decoration-line: underline;
	-moz-text-decoration-style: dotted;
	-moz-text-decoration-color: var(--text-color-lightest);
	-webkit-text-decoration-line: underline;
	-webkit-text-decoration-style: dotted;
	-webkit-text-decoration-color: var(--text-color-lightest);
	&:hover {
	  color: var(--text-color-hover);
	}
  }

  article {
	@include runway;
	margin-top: 7rem;
	text-align: right;
	* {
		text-align: left;
	}
	.content,
	.page-content {
		display: inline-block;
		text-align: left;
		@include wider-than(lg) {
			margin-right: 6rem;
		}
		@include wider-than(xl) {
			margin-right: 12rem;
		}
	}
	p, h3, h4, h5, h6, aside, ul, ol, blockquote {
		max-width: 36rem;
		@include wider-than(md) {
			max-width: 42rem;
		}
		@include wider-than(lg) {
			max-width: 48rem;
		}
	}

	img {
		margin-bottom: 4rem;
	}
	  
	h1, h2, h3 {
		@include subhead;
		line-height: 1;
		margin-top: 0;
		a {
		 text-decoration: none;
		 color: inherit;
		}
	  }
	
	  h1 {
		color: var(--accent-color);
		font-size: 3.5rem;
		margin-bottom: .75rem;
		margin-left: -2px;
		line-height: .95;
		a:hover {
			color: var(--accent-color);
		} 
		@include wider-than(sm) {
			@include display;
			font-size: 4.5rem;
			letter-spacing: -.5px;
		}
		@include wider-than(md) {
			font-size: 6rem;
			letter-spacing: -1px;
		}
		@include wider-than(lg) {
			font-size: 8.625rem;
			max-width: 72rem;
		}
	  }
	  .subtitle p {
		@include caption;
		color: var(--accent-color);
		font-style: italic;
		font-size: 1.25rem;
		font-weight: 500;
		line-height: 1.4;
		margin-top: -.5rem;
		@include wider-than(md) {
			font-size: 1.25rem;
		}
		@include wider-than(lg) {
			font-size: 2rem;
		}
	  }
	
	  h2 {
		  font-size: 2.25rem;
		  margin-top: 1rem;
		  margin-bottom: 1rem;
	  }
	
	ul, ol {
		padding-left: 1rem;
	}
	ul li {
		list-style: none;
		&::before {
			content: '\25C6';
			font-size: .8em;
			margin-right: .5rem;
		}
	}
  }

  .content {
	p:last-child::after {
		content: '\25A0';
	}
	&::after {
		content: '';
		display: block;
		width: 16rem;
		height: 1px;
		background: var(--hr-color);
		margin: 1rem 0 .5rem;
		padding: 0;
		@include wider-than(lg) {
			margin: 1.25rem 0 .5rem;
			width: 20rem;
		}
	}
  }
  
.content p:first-child,
p.lede {
	@include subhead;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 1.4;
	width: 100%;
	@include wider-than(md) {
		font-size: 1.75rem;
	}
	@include wider-than(lg) {
		font-size: 2rem;
	}
  }
  .post-title {
	sup {
	  font-size: 40%;
	  line-height: 100%;
	  vertical-align: top;
	  position: relative;
	  top: 0rem;
	}
  }
  #tags {
	color: var(--text-color-lighter);
	a {
	  &::after {
		content: ', ';
	  }
	  &:last-of-type {
		&::before {
		  content: 'and ';
		}
		&::after {
		  content: '.';
		}
	  }
	}
  }

  
  /* ======================================
  ========================================= TOP BAR
  ====================================== */
  
  header {
	background-color: var(--background-color);
	transition: background-color 0.25s ease-out;
	border-bottom: 1px solid var(--hr-color);
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
	font-size: .875rem;
	@include wider-than(md) {
		font-size: 1rem;
	}
	@include wider-than(lg) {
		padding-top: .25rem;
		padding-bottom: .25rem;
	}
	h1 {
		@include caption;
		color: var(--text);
		font-weight: 500;
		line-height: 1rem;
		font-size: inherit;
		margin: 0;
		float: left;
		a {
			display: inline-block;
			text-decoration: none;
			padding: 1.25rem .5rem .75rem;
			&:hover {
				color: var(--text-color-hover);
			}
		}
	}
	nav {
		@include runway;
		ul {
			font-size: inherit;
			font-weight: 500;
			line-height: 1rem;
			text-align: right;
			margin: 0;
			padding: 0;
			li {
				display: inline-block;
				list-style-type: none;
				padding: 0;
				line-height: 1rem;
				a {
					display: inline-block;
					@include caption;
					font-weight: 500;
					text-decoration: none;
					padding: 1.25rem .5rem .75rem;
					&:hover {
						text-decoration: none;
						color: var(--text-color-hover);
						&::before,
						&::after {
							text-decoration: none;
							color: var(--text-color-hover);
						}
					}
					&.is-active {
						padding-right: .25rem; // Corrects for increase in width due to ::after
						&::after {
							content: '';
							width: .25rem;
							height: .25rem;
							border-radius: 10px;
							background-color: var(--text-color-hover);
							display: inline-block;
							position: relative;
							left: -50%;
							top: 10px;
						}
					}
				}
			}
		}
		label {
			color: #000;
			cursor: pointer;
			margin: 0;
			font-style: normal;
			text-align: right;
		}
	}
  }

  /* ======================================
  ========================================= FOOTER
  ====================================== */
  
  footer {
	padding-bottom: 1rem;
	padding-top: 12rem;
	font-size: .825rem;
	div {
	  @include runway;
	  @include grotesk;
	}
  }
